[submodule "ranger/.config/ranger/plugins/ranger_devicons"]
	path = ranger/.config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule "zsh/.config/zsh/themes/powerlevel10k"]
	path = zsh/.config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/plugins/k"]
	path = zsh/.config/zsh/plugins/k
	url = https://github.com/supercrabtree/k
[submodule "zsh/.config/zsh/plugins/zsh-autopair"]
	path = zsh/.config/zsh/plugins/zsh-autopair
	url = https://github.com/hlissner/zsh-autopair
[submodule "zsh/.config/zsh/plugins/fzf-zsh-completions"]
	path = zsh/.config/zsh/plugins/fzf-zsh-completions
	url = https://github.com/chitoku-k/fzf-zsh-completions
