atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
*.swp
*.swo

# Python
__pycache__/
*.py[cod]

ranger/.config/ranger/plugins/__init__.py

# Coc
vim/.config/coc/*
!vim/.config/coc/extensions
vim/.config/coc/extensions/*
!vim/.config/coc/extensions/package.json
!vim/.config/coc/extensions/yarn.lock

